<html>
	<head>
		<title>Letterboxd Netflix</title>
	</head>
	<body>
		<h1>Welcome {{user}}!</h1>
		<div id="container">
		<table>
			<tr>
		{{#each movies}}
			<td class="movie_container">
			{{#if this.found}}
				<p><img src="{{this.poster}}" /></p>
				<p><a href='https://netflix.com/title/{{this.show_id}}'>{{this.show_title}}</a></p>
			{{else}}
				<p><img src="{{this.poster}}" /></p>
				<p>{{this.show_title}} {{this.errmsg}}</p>
			{{/if}}
			</td>	
		{{/each}}
			</tr>
		</table>
		</div>
	</body>
</html>
